.market-main {
  width: 70%;
  margin: auto;
  margin-top: 30px;
  min-height: 75vh;
}

.market-intro-container {
  background-color: $cartColor;
  width: 100%;
  text-align: center;
  padding: 20px;
  border-radius: 5px;

  .market-intro-title {
    margin: 20px 0;
  }

  .market-intro-description {
    margin: 20px 0;
    margin-bottom: 30px;
    color: $textDescriptionColor;
  }

  .market-intro-btn {
    font-size: 17px;
    padding: 10px 15px;
    margin-bottom: 20px;
    color: $backgroundColor;
    background-color: rgb(0, 125, 252);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.market-input-text {
  height: 50px;
  background-color: $backgroundColor;
  border: none;
  margin-top: 15px;
  outline: none;
  padding: 0 14px;
  color: $textColor;
  border-radius: 5px;
  font-size: 13px;
  width: 70%;
}
.market-input-text-price {
  background-color: $cartColor;
}

.market-input-file {
  margin-top: 10px;
}

.market-url-container {
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    align-items: center;
  }

  &:nth-child(1),
  &:nth-child(2) {
    margin-bottom: 40px;
  }
}

.market-info-right {
  flex-basis: 75%;
  background-color: $cartColor;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3%;

  color: $textDescriptionColor;
}

.logo-market {
  margin-right: 10px;
  font-size: 25px;
}

.market-img-post-right {
  display: flex;
  justify-content: space-around;
  padding: 3%;
}

.market-submit-btn-container {
  display: flex;
  justify-content: flex-end;
  .market-submit-btn {
    font-size: 17px;
    padding: 15px 70px;
    color: $backgroundColor;
    background-color: $textColor;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.3;
    pointer-events: none;
  }

  .market-submit-btn:hover {
    background-color: rgb(2, 86, 166);
  }
  .market-submit-btn-active {
    background-color: rgb(0, 125, 252);
    pointer-events: all;
    opacity: 1;
  }
}
.cart-img-box-post {
  width: 225px !important;
  height: 300px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor !important;
  cursor: default;
  input {
    width: 180px;
  }
}
