.wishlist-main {
  width: 75%;
  min-height: 70vh;
  margin: auto;
}

.wishlist-ul-item {
  margin-top: 50px;
  width: 100%;
}

.wishlist-li-item {
  padding-left: 10px;
  width: 100%;
  height: 70px;
  background-color: $cartColor;
  border-radius: 5px;
  display: flex;
  margin-top: 10px;

  .wishlist-item-url {
    display: flex;
    align-items: center;
    flex-basis: calc(100% - 70px);
    text-decoration: none;

    .wishlist-img {
      height: 50px;
      width: 90px;
      overflow: hidden;
      object-fit: cover;
      border-radius: 5px;
    }

    .wishlist-text-container {
      margin-right: 16px;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .wishlist-item-name,
      .wishlist-item-price {
        font-size: 14px;
        font-weight: 400;
      }

      .wishlist-item-name {
        margin-left: 16px;
        font-weight: 500;
        color: $textColor;
      }

      .wishlist-item-price {
        font-size: 15px;
        font-weight: 500;
        color: $textColor;
      }
    }
  }

  .wishlist-item-url-no-btn {
    flex-basis: 85%;
  }

  .wishlist-remove-btn {
    width: 70px;
    padding: 0 20px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 1;
    border-radius: 5px;

    .wish-list-icon-remove {
      color: $textColor;
    }
    .wishlist-check-btn {
      color: $textColor;
    }
  }

  .wishlist-remove-btn:hover {
    background-color: rgb(49, 152, 255);
  }
}

.wishlist-li-item:hover {
  background-color: rgb(0, 125, 252);
}

.own-product-container {
  flex-basis: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.own-product-total-container {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  .own-product-total-container-inside {
    text-align: center;
    margin-right: 35px;
  }
}

@media (min-width: 768px) and (max-width: 1919px) {
  .wishlist-main {
    width: 90%;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .wishlist-main {
    width: 90%;
  }

  .wishlist-li-item {
    .wishlist-item-url {
      .wishlist-img {
        display: none;
      }

      .wishlist-text-container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        margin: 0;

        .wishlist-item-price {
          margin-left: 16px;
        }
      }
    }
  }
}

.approve-product-item-info-container {
  display: flex;
  align-items: center;
}

.approve-product-item-post-by-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 30px;
  flex-basis: 100px;
}

.table-list-admin-product {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table-list-admin-product td,
.table-list-admin-product th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-list-admin-product tr:nth-child(even) {
  background-color: $cartColor;
}

.table-list-admin-product tr:hover {
  background-color: rgb(199, 199, 199);
}

.table-list-admin-product th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $navBarColor;
  color: white;
}

.admin-list-product-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: $backgroundColor;
  cursor: pointer;
}

.admin-list-product-btn-able {
  background-color: rgb(49, 152, 255);
}

.admin-list-product-btn-able:hover {
  background-color: rgb(0, 125, 252);
}

.admin-list-product-btn-disable {
  background-color: #e74c3c;
}
.admin-list-product-btn-disable:hover {
  background-color: #c0392b;
}

.admin-list-table-status {
  width: 12%;
  text-align: center;
}

.buy-all {
  padding: 10px 20px;
  background-color: rgb(49, 152, 255);
}
