@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
$backgroundColor: rgb(18, 18, 18);
$textColor: #f4f4f4;
$textDescriptionColor: rgba(255, 255, 255, 0.3);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: $textColor;
}

@import "./index";
@import "./login";
@import "./signup";
@import "./detail";
@import "./wishlist";
@import "./market";
