@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
$backgroundColor: rgb(245, 245, 245);
$cartColor: rgb(235, 235, 235);
$textColor: rgb(18, 18, 18);
$textDescriptionColor: #999;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: $textColor;
}

@import "./index";
@import "./login";
@import "./signup";
@import "./detail";
@import "./wishlist";
@import "./market";
